
/*
.S0 = ws
.S1 = comment
.S2 = commentblock
.S3 = number
.S4 = function
.S5 = keyword
.S6 = macro
.S7 = string
.S8 = operator
.S9 = variable
.S10 = sendkeys
.S11 = preprocessor
.S12 = special
.S13 = abbreviation
.S14 = comobjects
.S15 = stdudf
*/

.S0 {
	color: #000000;
}

.S1 {
	font-style: italic;
	color: #00974B;
}

.S2 {
	font-style: italic;
	color: #008000;
}

.S3 {
	font-weight: bold;
	color: #AC00A9;
}

.S4 {
	font-weight: bold;
	color: #000080;
}

.S5 {
	font-weight: bold;
	color: blue;
}

.S6 {
	font-weight: bold;
	color: #FF00FF;
}

.S7 {
	color: #9999CC;
	font-weight: bold;
}

.S8 {
	font-weight: bold;
	color: #DC143C;
}

.S9 {
	font-weight: bold;
	color: #A52A2A;
}

.10 {
	color: #D97200;
}

.S11 {
	color: #FB00FB;
	font-style: italic;
}

.S12 {
	color: #A00FF0;
	font-style: italic;
}

.S13 {
	color: #ff0000;
	font-weight: bold;
}

.S14 {
	color: #0000FF;
	font-weight: bold;
	font-style: italic;
}

.S15 {
	color: #0080FF;
	font-weight: bold;
	font-style: italic;
}
