
/*
.S0 = ws
.S1 = comment
.S2 = commentblock
.S3 = number
.S4 = function
.S5 = keyword
.S6 = macro
.S7 = string
.S8 = operator
.S9 = variable
.S10 = sendkeys
.S11 = preprocessor
.S12 = special
.S13 = abbreviation
.S14 = comobjects
.S15 = stdudf
*/

.S0 {
	color: #000000;
}

.S1 {
	font-style: italic;
	color: #009933;
}

.S2 {
	font-style: italic;
	color: #669900;
}

.S3 {
	color: #004040;
}

.S4 {
	font-style: italic;
	color: #000080;
}

.S5 {
	color: #0000FF;
}

.S6 {
	color: #800000;
}

.S7 {
	color: #008080;
}

.S8 {
	color: #000000;
}

.S9 {
	color: #5A5A5A;
}

.S10 {
	color: #D97200;
}

.S11 {
	font-style: italic;
	color: #0000FF;
}

.S12 {
	font-style: italic;
	color: #A00FF0;
}

.S13 {
	font-style: italic;
	color: #DC143C;
}

.S15 {
	font-style: italic;
	font-weight: bold;
	color: #0080FF;
}


