body
{
	background-color:#fff;
	color:#000;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:400;
}

table
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

tr
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

td
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}

b
{
	font-weight:700;
}

p
{
	color:#000;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:400;
	margin:0;
	padding-bottom:5px;
	padding-top:5px;
}

.funcdesc
{
	font-size:17px;
}

ul
{
	color:#000;
	font-family:'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
}

div
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}

a
{
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a:link
{
	color:#009;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a:visited
{
	color:#008;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a:active
{
	color:#009;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a:hover
{
	color:#66c;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:link
{
	color:#900;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:visited
{
	color:#800;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:active
{
	color:#900;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

a.ext:hover
{
	color:#c66;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

H1
{
	color:#707070;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:400;
	margin:0;
	padding-bottom:33px;
	padding-top:15px;
}

.small
{
	font-size:12px;
	padding-bottom:0;
	padding-top:5px;
	margin:-9px 0 -4px 0;
}

H2
{
	color:#db7100;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:400;
	line-height:normal;
	padding-top:25px;
	padding-bottom:0;
}

H3
{
	color:navy;
	font-family:'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	line-height:normal;
}

.code
{
	font-family:"Courier New", Courier, mono;
	font-size:12px;
	white-space:nowrap;
}

.codeheader
{
	background-color:#ffa;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	color:#000;
	font-family:"Courier New", Courier, Verdana, Arial;
	font-size:12px;
	padding:16px;
	white-space:normal;
}

.codebox
{
	background-color:#fff;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	color:#465584;
	font-family:"Courier New", Courier, Verdana, Arial;
	font-size:12px;
	padding:8px;
	padding-bottom:24px;
	width:99%;
	white-space:nowrap;
	overflow-x:auto;
}

.S0
{
	background:#fff;
	color:#000;
}

.S1
{
	background:#fff;
	color:#093;
	font-style:italic;
}

.S2
{
	background:#fff;
	color:#b9b9b9;
	font-style:italic;
}

.S3
{
	background:#fff;
	color:#004040;
}

.S4
{
	background:#fff;
	color:#0000c6;
	font-style:italic;
}

.S5
{
	background:#fff;
	color:#00f;
}

.S6
{
	background:#fff;
	color:maroon;
}

.S7
{
	background:#fff;
	color:red;
}

.S8
{
	background:#fff;
	color:#000;
}

.S9
{
	background:#fff;
	color:#5a5a5a;
}

.S10
{
	background:#fff;
	color:#d97200;
}

.S11
{
	background:#fff;
	color:#00f;
	font-style:italic;
}

.S12
{
	background:#fff;
	color:#dc143c;
	font-style:italic;
}

.S14
{
	background:#fff;
	color:#93f;
	font-style:italic;
}

.S15
{
	background:#fff;
	color:#0080ff;
	font-style:italic;
	font-weight:700;
}

span
{
	background:#fff;
	color:#000;
	font-family:"Courier New";
}

.experimental
{
	background:#ffffe0;
	border:solid;
	border-color:red;
	font-size:large;
	font-weight:700;
	padding:4px;
}