; ==============================================================================
; config.ini
; ==============================================================================

[IniVersion]
IniVersion=17

[Build]
BuildDir=..\..
